{% extends "base_generic.html" %}

{% block content %}
  <h1 class="my-4">Lista Dokumentów</h1>
  <form method="get" action="{% url 'szukaj_dokumentu' %}" class="form-inline mb-4">
    <input type="text" name="query" class="form-control mr-2" placeholder="Szukaj dokumentów">
    <button type="submit" class="btn btn-primary">Szukaj</button>
  </form>
  <div class="list-group">
    {% for dokument in dokumenty %}
      <div class="list-group-item list-group-item-action">
        <div class="row">
          <div class="col-md-6 d-flex align-items-center">
            <strong>{{ dokument.tytul }} ({{ dokument.rok }})</strong>
          </div>
          <div class="col-md-6 text-right">
            <a href="{% url 'edytuj_dokument' dokument.pk %}" class="btn btn-warning">Edytyj</a>
            <a href="{% url 'usun_dokument' dokument.pk %}" class="btn btn-danger">Usuń</a>
            <a href="{% url 'historia_dokumentu' dokument.pk %}" class="btn btn-info">Historia</a>
            <a href="{% url 'wypozycz_dokument' dokument.pk %}" class="btn btn-primary">Wypożycz</a>
            <a href="{% url 'zwroc_dokument' dokument.pk %}" class="btn btn-success">Zwróć</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <a href="{% url 'dodaj_dokument' %}" class="btn btn-success mt-4">Dodaj nowy dokument</a>
{% endblock %}
