<!-- archiwum/templates/archiwum/lista_dokumentow.html -->
{% extends "base_generic.html" %}

{% block content %}
  <h1>Lista Dokumentów</h1>
  <form method="GET" action="{% url 'szukaj_dokumentu' %}">
    <input type="text" name="query" placeholder="Szukaj dokumentów">
    <button type="submit">Szukaj</button>
  </form>
  <ul>
    {% for dokument in dokumenty %}
      <li>{{ dokument.tytul }} ({{ dokument.rok }}) - <a href="{% url 'edytuj_dokument' dokument.pk %}">Edytuj</a> - <a href="{% url 'usun_dokument' dokument.pk %}">Usuń</a></li>
    {% endfor %}
  </ul>
  <a href="{% url 'dodaj_dokument' %}">Dodaj nowy dokument</a>
{% endblock %}
